[general]
one_channel=false
chord_analyzer=false
velocity_curve=1.0
min_velocity=0
max_velocity=127
show_lowest_note=false
no_overlap=false
hardware_split=false
midi_out=loopmidi
split_out=loopmidi2
fps=60
lights=3,7,5,7,5,8,7,8,2,8,7,8
split=false
